* {
  margin: 0;
  padding: 0;

}

body {
  background: url(whitehouse.jpg) no-repeat center fixed;
  background-size: cover;
}

.container {
display: flex;
justify-content: center;
}

.userlabel {
  font-weight: 700;
}
.passlabel {
  font-weight: 700;
}
#Username {
  background: none;
  outline: outset 1px;
  border:none;
}

#Password {
  background: none;
  outline: outset 1px;
  border:none;
}
::placeholder {
  color: black;
  font-weight: 300;
}
.form-check-label {
  margin-top: 5px;
}
.btn {
  margin-top: 5px;
}

.card {
  background: lightgrey;
  text-align: center;
  padding: 1rem;
  display: block;
  top: 50%;
  position: relative;
}
.card-body {
  font-weight: 800;
  font-size: 30px;
}
.form-check-inline {
  margin-left: 10px;
}
.buttons {
  display: flex;
}
